# General settings
kriti.logfile = "logs/kriti-%d.log"
kriti.data_path = "data/"
kriti.profile = true

# Video settings
video.width = 1024
video.height = 768
video.fullscreen = false

# Keyboard settings
keys.gui_accept = "return"
keys.gui_reject = "escape"
keys.gui_exit = "escape"

keys.mm_playerPitchUp = "up"
keys.mm_playerPitchDown = "down"
