# General settings
kriti.logfile = "logs/kriti-%d.log"
kriti.data_path = "data/"

# Video settings
video.width = 1024
video.height = 768
video.profile = true

# Keyboard settings
keys.gui_accept = "return"
keys.gui_reject = "escape"
keys.gui_exit = "escape"

#keys.game_accel = "Up"
#keys.game_brake = "Down"
